* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color-0: blue;
  --color-1: rgb(245 246 247);
  --color-1-1: rgb(235 237 239);
  --color-2: rgb(196 23 12);
  --color-3: rgb(30 76 154);
  --color-4: rgb(0 103 103);
  --color-5: rgb(6 170 72);
  --color-6: rgb(255 116 0);
  --color-7: rgb(251 2 52);
  --color-8: rgb(255 103 0);
  --color-9: rgb(51 51 51);
  --color-10: rgb(165 20 125);
  --color-11: rgb(0 196 162);
}
a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.header-container {
  box-sizing: border-box;
  width: 1349px;
  height: auto;
}

.container {
  align-items: center;

  max-width: 1320px;
  height: 124px;

  padding: 0 36px;
  margin: 0 14.5px;
}
.container {
  display: grid;
  grid-template-areas:
    'left center right'
    'bottom bottom bottom';

  grid-template-columns: 537px 174px 550px;
}

.menu-box,
.acesso-box {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.menu-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 47.8px;
  gap: 10px;
}

.menu-header {
  display: flex;
  cursor: pointer;
  gap: 14px;
  align-items: center;
  height: 100%;
  padding: 0px 0px 0px -13px;
}

.assine-header {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 100%;
  width: 80px;
  border-left: 1px solid var(--color-1-1);
}

.assine-header a {
  padding: 15px;
  margin-left: 9px;
}

.menu-header svg {
  width: 18px;
  height: 18px;
  fill: var(--color-0);
}
.acesso-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 47.8px;
  gap: 15px;

  margin: 0px -13px 0px 0px;
}

.account-header {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 12px;
  margin-right: -8px;
}
.account-header svg {
  width: 20px;
  height: 20px;
  fill: var(--color-0);
}

.search-header {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1px;

  height: 100%;
  border-left: 1px solid var(--color-1-1);
}

.search-header svg {
  width: 22px;
  height: 22px;
  fill: var(--color-0);
}

.search-header a {
  padding: 15px;
  margin-left: 7px;
}
.logo-box {
  grid-area: center;
  display: flex;
  align-items: center;

  max-width: 175px;
  height: 80px;

  transition: 1s;
}

.logo path {
  height: 60px;
  width: 150px;
  transition: 1s;
  cursor: pointer;
}
.header-titulos {
  flex-direction: column;
  width: 100%;
  height: auto;

  font-size: 16px;
  font-weight: bold;

  border-bottom: solid 2px var(--color-1);
  border-top: solid 2px var(--color-1);
  grid-area: bottom;
}

.header-titulos ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 45px;
}

.header-titulos a {
  padding: 10px 12px;
  width: auto;
}
.g1-title a {
  color: var(--color-2);
}

.o-globo-title a {
  color: var(--color-3);
}
.o-valor-title a {
  color: var(--color-4);
}

.ge-title a {
  color: var(--color-5);
}

.cartola-title a {
  color: var(--color-6);
}

.globoplay-title a {
  color: var(--color-7);
}

.gshow-title a {
  color: var(--color-8);
}

.quem-title a {
  color: var(--color-9);
}

.receitas-title a {
  color: var(--color-10);
}
.giga-globo a {
  color: var(--color-11);
}

.g1-title {
  margin: 0.5px 0px 0px -13px;
}
.giga-globo {
  margin: 0.5px -13px 0 0;
}
@media (min-width: 1500px) {
  .container {
    margin: 0px auto;
  }
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 30px 174px auto;
    margin: 0;
    padding: 0 36px;
  }

  .menu-box {
    width: 20px;
    grid-area: left;
  }
  .menu-box .separador {
    display: none;
  }
  .menu-box a {
    display: none;
  }

  .acesso-box {
    grid-area: right;
    gap: 15px;
  }
  .assine-header a {
    display: none;
  }
  .account-header a {
    display: none;
  }
  .search-header a {
    display: none;
  }
}
@media (max-width: 814px) {
  .container {
    margin: 0;
  }
}
@media (max-width: 785px) {
  .container {
    margin: 0;
    padding: 0px 16px;
  }

  .header-titulos a {
    padding: 10px 4px;
    font-size: 16px;
  }
  .g1-title {
    margin: 0.5px 0px 0px -6px;
  }
  .giga-globo {
    margin: 0.5px -6.5px 0 0;
  }
}

@media (max-width: 639px) {
  .container {
    height: 104px;
    grid-template-columns: 33px 150px auto;
  }
  .logo-box {
    display: flex;
    flex-direction: start;
    height: 58px;
  }
  .logo svg {
    height: 30px;
    transition: 1s;
    width: auto;
  }
  .header-titulos a {
    padding: 10px 8px;
  }
  .o-valor-title,
  .cartola-title,
  .quem-title,
  .receitas-title,
  .giga-globo {
    display: none;
  }

  .g1-title {
    order: 1;
  }
  .ge-title {
    order: 2;
  }
  .gshow-title {
    order: 3;
  }
  .globoplay-title {
    order: 4;
  }

  .o-globo-title {
    order: 5;
  }
}

#menu-cascata {
  width: 272px;
  height: 100%;

  background-color: #fff;
}

#nav-menu-cascata a {
  font-size: 18px;
  margin-left: 0.5rem;
}
.cascata-title img {
  width: 40px;
  height: 40px;
}

.cascata-title {
  width: 244px;
  height: 44px;

  display: flex;
  align-items: center;

  padding-left: 1rem;
}
.cascata-title a {
  display: flex;
  align-items: center;
}
