* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color-0: blue;
  --color-1: rgb(245 246 247);
  --color-2: ; /*deu sono e não terminei */
}
a,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

.header-container {
  box-sizing: border-box;
  width: 1349px;
  height: auto;
}

.container {
  align-items: center;

  max-width: 1320px;
  height: 124px;

  padding: 0 36px;
  margin: 0 14.5px;
}
.container {
  display: grid;
  grid-template-areas:
    'left center right'
    'bottom bottom bottom';
}
.separador {
  width: 1px;
  height: 45px;
  background: var(--color-1);
}
.menu-box,
.acesso-box {
  display: flex;
  align-items: center;
  font-size: 14px;

  gap: 1rem;
}
.menu-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 47.8px;

  gap: 22px;
}

.menu-header {
  display: flex;
  gap: 14px;
  align-items: center;
}

.assine-header {
  display: flex;
  align-items: center;
}

.menu-header svg {
  width: 18px;
  height: 18px;
  fill: var(--color-0);
}
.acesso-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 47.8px;
  gap: 25px;

  margin: 0px -13px 0px 0px;
}

.account-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account-header svg {
  width: 20px;
  height: 20px;
  fill: var(--color-0);
}

.search-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-header svg {
  width: 22px;
  height: 22px;
  fill: var(--color-0);
}
.logo-box {
  grid-area: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;

  max-width: 174px;
  height: 80px;

  font-size: 25px;
  font-weight: bold;
}

.logo svg {
  height: 36px;
  transition: 1s;
}
.header-titulos {
  width: 100%;
  height: auto;

  margin: 0;

  font-size: 16px;
  font-weight: bold;

  border-bottom: solid 2px var(--color-1);
  border-top: solid 2px var(--color-1);
  grid-area: bottom;
}

.header-titulos ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 45px;
}

.header-titulos a {
  padding: 10px 12px;
  width: auto;
}

.g1-title {
  margin: 0.5px 0px 0px -13px;
}
.giga-globo {
  margin: 0.5px -13px 0 0;
}
@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 40px 174px auto;
    margin: 0;
    padding: 0 36px;
  }

  .menu-box {
    width: 20px;
    grid-area: left;
  }
  .menu-box .separador {
    display: none;
  }
  .menu-box p {
    display: none;
  }

  .acesso-box {
    grid-area: right;
    gap: 15px;
  }
  .assine-header p {
    display: none;
  }
  .account-header p {
    display: none;
  }
  .search-header p {
    display: none;
  }
}
@media (max-width: 814px) {
  .container {
    margin: 0;
  }
}
@media (max-width: 785px) {
  .container {
    margin: 0;
    padding: 0px 18px;
  }

  .header-titulos a {
    padding: 10px 4px;
  }
  .g1-title {
    margin: 0.5px 0px 0px -6px;
  }
  .giga-globo {
    margin: 0.5px -6.5px 0 0;
  }
}

@media (max-width: 639px) {
  .container {
    height: 104px;
    grid-template-columns: 33px 150px auto;
  }
  .logo-box {
    display: flex;
    flex-direction: start;
    height: 60px;
  }
  .logo svg {
    height: 30px;
    transition: 1s;
    width: auto;
  }
  .o-valor-title,
  .cartola-title,
  .quem-title,
  .receitas,
  .giga-globo {
    display: none;
  }

  .g1-title {
    order: -1;
  }
  .ge-title {
    order: -1;
  }
  .gshow-title {
    order: -1;
  }
  .globoplay-title {
    order: -1;
  }

  .oglobo-title {
    order: 1;
  }
}
